<div class="col-12 text-center m-5" *ngIf="productsCount < 1;">
  <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>

<div *ngIf="true" class="row">
  <div class="col-12">
    <div class="row mt-4">
      <hr>
      <div class="col-8 text-left mt-2">
        Available Products&nbsp;<span class="text-primary">{{productsCount}}</span>
      </div>
      <!-- TODO: Create cleaning button style logic -->
      <div class="col-4 nav-btns btn-group btn-group-sm text-right">
        <button class="btn btn-secondary" (click)="clearSelections()">Clear Selections</button>
        <button class="btn btn-sm"
          [ngClass]="{'disabled': selectedProductsCount <= 0, 'btn-outline-primary': selectedProductsCount > 0}"
          (click)="selectedProductsCount > 0 
          ? [saveSelectionsToCart(selectedProducts.value), sendNote({message: 'The selected products have been added to cart', show: true})]
          : null">
          Save To Cart&nbsp;<span class="badge badge-warning">{{ selectedProductsCount }}</span>&nbsp;
          &nbsp;<i class="fa fa-save fa-lg"></i>
        </button>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-2 mt-1 mb-1"
    *ngFor="let product of products | async | slice:productsPagination.start:productsPagination.end">
    <div class="card mb-3 mt-3">
      <div class="card-body cart-item">
        <div class="card mb-2">
          <app-thumbs (click)="goToPDP(product)" [imgUrl]="product.images.url" [label]="product.name">
          </app-thumbs>
          <!-- <div><small>{{ product.id }}</small></div> -->
        </div>
      </div>
    </div>
  </div>
</div>