<div class="row">
  <div class="col-sm-12 col-lg-4">
    Product IMG
  </div>
  <div class="col-sm-12 col-lg-8">
    <div class="col">title</div>
    <div class="col">item</div>
    <div class="col">color options</div>
    <div class="col">tile of thumbs</div>
    <div class="col">
      <div class="row">
        <div class="col">color</div>
        <div class="col">size</div>
      </div>
    </div>
    <div class="col"><button class="btn btn-primary">Buy with Beacon Pro+</button></div>
  </div>
</div>