<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Products <span
            class="badge badge-primary">{{ productCount }}</span></h5>
        <button (click)="saveSelectionsToCart()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 444px; overflow-y: scroll" *ngIf="true">
        <!-- Display products -->
        <section>
          <div class="row">
            <ng-container *ngFor="let item of products | async">
              <div class="col-lg-4 col-sm-6 mb-3">
                <app-thumbs (click)="addSelected(item)" [imgUrl]="item.imgUrl" [label]="item.name"></app-thumbs>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer" style="justify-content: flex-start;">
        <div class="row">
          <div class="col-7">
            <app-pagination></app-pagination>
          </div>
          <div class="col-5">
            <div class="btn-group btn-group-sm">
              <button (click)="clearSelections()" type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button (click)="[saveSelectionsToCart(), clearSelections()]" type="button" class="btn btn-primary"
                data-dismiss="modal">Save
                To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>